#CommentMainContainer {
    background-color: #1E172F;
    padding: 22px 0px 22px 72px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    overflow: auto;
}

.commentDate {
    color: #BFBCC7;
    font-weight: 500;
}

.commentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.commentContent{
    margin: 5px 0px 0px 80px;
    text-align: left;
    font-size: 14px;
    padding: 20px;
    border-radius: 0px 20px 20px 20px;
    background-color: #2B2143;
}