.menuButton{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    background-color: #2B2143;
    width: 100%;
    height: 80px;
    text-decoration: none;
}

.menuButton:hover{
    background-color: #4F4568;
    cursor: pointer;
}

.lightPurpleBtn{
    background-color: #2B2143;
}

.darkPurpleBtn{
    background-color: #1E172F;
}

.highlightedBtn{
    background-color: #6233DE;
}

.highlightedBtn:hover{
    background-color: #8f6cee;
    cursor: pointer;
}

.menuButton > p {
    font: 500 16px montserrat, Sans-serif;

    font-family: montserrat, Sans-serif;
    text-align: start;
    width: 65%;
    color: #fff;
}

.menuButton > i {
    width: 20%;
    font: 500 20px;
    color: #fff;
}


